html,
body {
  margin: 2rem;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Prata", serif;
}

svg {
  display: block;
}

.svg {
  position: relative;
  z-index: 2;
}

.svg-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.filter {
  background-color: lightgray;
  padding: 2rem;
}

.filter label {
  display: flex;
  align-items: center;
}

.filter label div.color {
  width: 0.7rem;
  height: 0.7rem;
  order: 1;
  margin-right: 0.5rem;
}

.filter label div.text {
  order: 2;
}

.filter label input {
  margin-left: auto;
  order: 3;
}

.data {
  display: block;
  width: 245px;
}

rect {
  display: block;
}

.data-container {
  position: absolute;
  z-index: -1;
  bottom: 260px;
  left: 55px;
}
